<div class="application template">
  <h1>Welcome to Social Solutions</h1>
  {{input type='search' value=value key-up=(action 'updateSearch')}}
  <button {{action "searchForParam" on="click"}}>Search</button>
  {{outlet}}
</div>
