<div class="application template">
{{#link-to "application"}}
  <h1>Social Solutions</h1>
{{/link-to}}
  {{input type='search' value=value key-up=(action 'updateSearch')}}
  <button {{action "searchForParam" on="click"}}>Search</button>
  {{outlet}}
</div>
