<div class='application-home'>
{{#link-to 'application'}}
  <h1 class='home' {{action 'goHome' on='click'}}>Social Solutions</h1>
{{/link-to}}
{{#if onHome}}
  {{input class='search-bar' type='search' value=value key-up=(action 'updateSearch')}}
  <br/>
  <button class='search-buttton' {{action 'searchForParam' on='click'}}>Search</button>
{{/if}}


  {{outlet}}
</div>
