<h2>Hashtag Info</h2>

<div class="hashtag-info">
  <article>
      <h3>isVerified:</h3> {{isVerified.length}}
  </article>

  <article>
    <h3>userLocations:</h3>
    {{#each model as |tweet|}}
      {{tweet.renderLocations}}
    <br/>
    {{/each}}
  </article>

  {{outlet}}
</div>
