<h2>Hashtag Info</h2>

<div class="hashtag-info">

  <article>

      <article>
            {{user-graph
              data=lessThanTenThousand
              max=getMaxFollowers
              value=lessThanFiveThousand
            }}
      </article>
      <br/>
      <article>
            {{follower-graph
              lessThanOneThousand=lessThanOneThousand
               oneToFive=oneToFive
               fiveToTen=fiveToTen
               tenToFifty=tenToFifty
               fiftyUp=fiftyUp
             }}
      </article>

  </article>

  {{outlet}}
</div>
